<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      Vérification de l'email
    </title>
  </head>
  <body>
    <p>
      Bonjour,
    </p>
    <p>
      Cliquez sur ce lien pour réinitialiser votre mot de passe :
    </p>
    <p>
      <a href="{{ url }}">{{ url }}</a>
    </p>
    <p>
      Ce lien expirera dans 1 heure.
    </p>
  </body>
</html>
