<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vérification de l'email</title>
  </head>
  <body>
    <h1>Bienvenue {{ user.email }}</h1>
    <p>Merci de vous être inscrit.</p>
    <p>
      Cliquez ici pour vérifier votre email :
      <a href="{{ url }}">{{ url }}</a>
    </p>
  </body>
</html>